# Syntax

In [ ]:
# Insert the missing part of the code below to output "Hello World".

In [1]:
print("Hello World")

Hello World

In [ ]:
# This example misses indentations to be correct.

#       Insert the missing indentation to make the code correct:

In [ ]:
if 5 > 2:
    print("Five is greater than two!")

# Comments

In [ ]:
# Comments in Python are written with a special character, which one?

In [ ]:
#This is a comment

In [ ]:
#Use a multiline string to make the a multi line comment:

In [ ]:
'''
This is a comment
written in 
more that just one line
'''

# Variables

In [ ]:
#Create a variable named carname and assign the value Volvo to it.

In [ ]:
carname = "Volvo"

In [ ]:
#Create a variable named x and assign the value 50 to it.

In [ ]:
X = 50

In [ ]:
#Display the sum of 5 + 10, using two variables: x and y.

In [ ]:
x = 5
y = 10
print(x + y)

In [ ]:
#Create a variable called z, assign x + y to it, and display the result.

In [ ]:
x = 5
y = 10
z = x + y
print(z)

In [ ]:
#Remove the illegal characters in the variable name:

In [ ]:
#2my-first_name = "John"
myfirst_name = "John"

In [ ]:
#Insert the correct syntax to assign the same value to all three variables in one code line.

In [ ]:
x = y = z = "Orange"

In [ ]:
#Insert the correct keyword to make the variable x belong to the global scope.

In [ ]:
def myfunc():
    global x
    x = "fantastic"

# Data Types

In [ ]:
#The following code example would print the data type of x, what data type would that be?

In [ ]:
x = 5
print(type(x))
#int

In [ ]:
#The following code example would print the data type of x, what data type would that be?

In [ ]:
x = "Hello World"
print(type(x))
#str

In [ ]:
#The following code example would print the data type of x, what data type would that be?

In [ ]:
x = 20.5
print(type(x))
#float

In [ ]:
#The following code example would print the data type of x, what data type would that be?

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))
#list

In [ ]:
#The following code example would print the data type of x, what data type would that be?

In [ ]:
x = ("apple", "banana", "cherry")
print(type(x))
#tuple

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))
#dict

In [ ]:
x = True
print(type(x))
#bool

# Numbers

In [ ]:
#Insert the correct syntax to convert x into a floating point number.

In [ ]:
x = 5
x = float(x)

In [ ]:
#Insert the correct syntax to convert x into a integer.

In [ ]:
x = 5.5
x = int(x)

In [ ]:
#Insert the correct syntax to convert x into a complex number.

In [ ]:
x = 5
x = complex(x)

# Strings

In [ ]:
#Use the len method to print the length of the string.

In [ ]:
x = "Hello World"
print(len(x))

In [ ]:
#Get the first character of the string txt.

In [ ]:
txt = "Hello World"
x = txt[0]

In [ ]:
#Get the characters from index 2 to index 4 (llo).

In [ ]:
txt = "Hello World"
x = txt[2:5]

In [ ]:
#Return the string without any whitespace at the beginning or the end.

In [ ]:
txt = " Hello World "
x = txt.strip()

In [ ]:
#Convert the value of txt to upper case.

In [ ]:
txt = "Hello World"
txt = txt.upper()

In [ ]:
#Convert the value of txt to lower case.

In [ ]:
txt = "Hello World"
txt = txt.lower()

In [ ]:
#Replace the character H with a J.

In [ ]:
txt = "Hello World"
txt = txt.replace("H", "J")
txt

In [ ]:
#Insert the correct syntax to add a placeholder for the age parameter.

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

# Boolean
#All exercises have same questions

In [ ]:
#The statement below would print a Boolean value, which one?

In [ ]:
print(10 > 9)
#True

In [ ]:
print(10 == 9)
#False

In [ ]:
print(bool("abc"))
#True

In [ ]:
print(bool(0))
#False

# Operators

In [ ]:
#Multiply 10 with 5, and print the result.

In [ ]:
print(10 * 5)

In [ ]:
#Divide 10 by 2, and print the result.

In [ ]:
print(10 / 2)

In [ ]:
#Use the correct membership operator to check if "apple" is present in the fruits object.

In [ ]:
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

In [ ]:
#Use the correct comparison operator to check if 5 is not equal to 10.

In [ ]:
if 5 !=10:
    print("5 and 10 is not equal")

In [ ]:
#Use the correct logical operator to check if at least one of two statements is True.

In [ ]:
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

# Lists

In [ ]:
#Print the second item in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

In [ ]:
#Change the value from "apple" to "kiwi", in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
fruits

In [ ]:
#Use the append method to add "orange" to the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits

In [ ]:
#Use the insert method to add "lemon" as the second item in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
fruits

In [ ]:
#Use the remove method to remove "banana" from the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
fruits

In [ ]:
#Use negative indexing to print the last item in the list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

In [ ]:
#Use a range of indexes to print the third, fourth, and fifth item in the list.

In [ ]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

In [ ]:
#Use the correct syntax to print the number of items in the list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

# Tuples

In [ ]:
#Use the correct syntax to print the first item in the fruits tuple.

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

In [ ]:
#Use the correct syntax to print the number of items in the fruits tuple.

In [ ]:
fruits = ("apple", "banana", "cherry")
print(len(fruits))

In [ ]:
#Use negative indexing to print the last item in the tuple.

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

In [ ]:
#Use a range of indexes to print the third, fourth, and fifth item in the tuple.

In [ ]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

# Sets

In [ ]:
#Check if "apple" is present in the fruits set.

In [ ]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

In [ ]:
#Use the add method to add "orange" to the fruits set.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
fruits

In [ ]:
#Use the correct method to add multiple items (more_fruits) to the fruits set.

In [ ]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
fruits

In [ ]:
#Use the remove method to remove "banana" from the fruits set.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")

In [ ]:
#Use the discard method to remove "banana" from the fruits set.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
fruits

# Dictionaries

In [ ]:
#Use the get method to print the value of the "model" key of the car dictionary.

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

In [ ]:
#Change the "year" value from 1964 to 2020.

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2020

In [ ]:
#Add the key/value pair "color" : "red" to the car dictionary.

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"] = "red"

In [ ]:
#Use the pop method to remove "model" from the car dictionary.

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
car

In [ ]:
#Use the clear method to empty the car dictionary.

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car)
car.clear()
car

# if...else

In [ ]:
#Print "Hello World" if a is greater than b.

In [ ]:
a = 50
b = 10
if a > b :
    print("Hello World")

In [ ]:
#Print "Hello World" if a is not equal to b.

In [ ]:
a = 50
b = 10
if a != b :
    print("Hello World")

In [ ]:
#Print "Yes" if a is equal to b, otherwise print "No".

In [ ]:
a = 50
b = 10
if a == b:
    print("Yes")
else:
    print("No")

In [ ]:
#Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [ ]:
a = 50
b = 10
if a == b:
    print("1")
elif a > b:
    print("2")
else:
    print("3")

In [ ]:
#Print "Hello" if a is equal to b, and c is equal to d.

In [ ]:
if a == b and c == d:
  print("Hello")

In [ ]:
#Print "Hello" if a is equal to b, or if c is equal to d.

In [ ]:
c = d = 1
if a == b or c == d:
  print("Hello")

In [ ]:
#This example misses indentations to be correct
#Insert the missing indentation to make the code correct:

In [ ]:
#if 5 > 2:
#print("Five is greater than two!")
if 5 > 2:
    print("Five is greater than two!")

In [ ]:
#Use the correct short hand syntax to put the following statement on one line:

In [ ]:
#if 5 > 2:
#print("Five is greater than two!")
if 5 > 2: print("Five is greater than two!")

In [ ]:
#Use the correct short hand syntax to write the following conditional expression in one line:

In [ ]:
# if 5 > 2:
#   print("Yes")
# else
#   print("No")
print("Yes") if 5 > 2 else print("No")

# While Loops

In [ ]:
# Print i as long as i is less than 6.

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

In [ ]:
#Stop the loop if i is 3.

In [ ]:
i = 1
while i < 6:
  if i == 3:
      break
      i += 1

In [ ]:
#In the loop, when i is 3, jump directly to the next iteration.

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
      continue
    print(i)

In [ ]:
# Print a message once the condition is false.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
     print("i is no longer less than 6")

# For Loops

In [ ]:
#Loop through the items in the fruits list.

In [2]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [ ]:
#In the loop, when the item value is "banana", jump directly to the next item.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
      continue
  print(x)

In [ ]:
#Use the range function to loop through a code set 6 times.

In [ ]:
for x in range(6):
  print(x)

In [ ]:
#Exit the loop when x is "banana".

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
      break
  print(x)

# Functions

In [ ]:
# Create a function named my_function.
# Execute that function (2nd Exercise)

In [ ]:
def my_function():
    print("Hello From a Function!!!")
my_function()

In [ ]:
#Inside a function with two parameters, print the first parameter.

In [ ]:
def my_function(fname, lname):
  print(fname)

In [ ]:
#Let the function return the x parameter + 5.

In [ ]:
def my_function(x):
    return x + 5

In [ ]:
# If you do not know the number of arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

In [ ]:
# If you do not know the number of keyword arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])